
{% extends extend %}


{% load display %}

{% block title %}
    {% if title %}
	    {{ title }}
	    {{ TITLE_SEPARATOR }}
    {% endif %}
	{{ TITLE_SEPARATOR }}
	{{ block.super }}
{% endblock title %}

{% block content %}
    
    <h1>
        {{ title }}
    </h1>
    <div class="displayable_list">
        {% for displayable in displayables %}
            <div class="displayable">
                {% display displayable %}
            </div>
        {% endfor %}
	</div>
    
{% endblock content %}


