
{% extends extend %}


{% load display %}

{% block title %}
    {% if title %}
	    {{ title }}
	    {{ TITLE_SEPARATOR }}
    {% endif %}
	{{ block.super }}
{% endblock title %}

{% block content %}
	
    {% if title %}
        <h1>
            {{ title }}
        </h1>
    {% endif %}
    <div class="displayable">
	    {% display displayable %}
	</div>
    
{% endblock content %}


